/* ========================================================== 
                            Resets
========================================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
}

/* ========================================================== 
                            Fonts
========================================================== */

@font-face {
    font-family: 'Karla';
    src: url('./../fonts/Karla-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Karla-Italic';
    src: url('./../fonts/Karla-Italic-VariableFont_wght.ttf');
}

/* ========================================================== 
                Variables / Custom Properties
========================================================== */

:root {
    --main-text: rgb(0, 0, 0);
    --sub-line: rgb(132, 132, 132);
    --head-line: #323a45;
}

/* ========================================================== 
                        Body – Wrapper
========================================================== */

body {
    font-family: 'Karla';
    color: var(--main-text);
    background-color: lightgray;
    scroll-behavior: smooth;
}

.wrapper {
    max-width: 90rem;
    background-color: white;
    margin: 0 auto;
    padding-inline: 40px;
    padding-block-end: 20px;
}

/* ========================================================== 
                            Header
========================================================== */

header {
    padding-block: 40px;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav h1 {
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    min-width: 270px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 60px;
}

nav ul li:nth-of-type(1) {
    min-width: 170px;
}

nav ul li:nth-of-type(3) {
    min-width: 30px;
}

nav ul li a {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

/* ========================================================== 
                        Content - Products
========================================================== */

.section__product {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 100%));
    gap: 0 20px;
}

.hero__product {
    grid-column: 1 / 4;
    padding-block-end: 60px;
}

img:hover {
    -webkit-filter: opacity(.7);
    filter: opacity(.7)
}

figure > div {
    display: flex;
    justify-content: space-between;
    padding-block-start: 20px;
}

figcaption, .company {
    font-size: 1rem;
    font-weight: 400;
    line-height: 150%;
}

.company {
    color: var(--sub-line);
    max-width: 75%;
}

.price {
    padding-left: 10px;
}

.small__product {
    padding-block-end: 40px;
}

/* ========================================================== 
                            Footer
========================================================== */

/* Flex Layout */
/* .footer {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-block: 20px;
} */

/* Grid Layout */
.footer {
    display: grid;
    grid-template-columns: repeat(6, minmax(90px, 1fr));
    gap: 20px;
    padding-block: 20px;
}

.footer h3 {
    font-size: 0.8125rem;
    font-weight: 700;
    line-height: 200%;
}

.footer p {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 20px;
}

.footer a {
    color: var(--sub-line);
}

/* Flex Layout */
/* .shop {
    flex-basis: 430px;
}

.newsletter {
    flex-basis: 360px;
}

.contact {
    flex-basis: 216px;
}

.find__us {
    flex-basis: 260px;
} */


/* Grid Layout */
.shop {
    grid-column: 1 / 3;
}

.contact {
    grid-column: 3 / 4;
}

.newsletter {
    grid-column: 4 / 5;
}

.find__us {
    grid-column: 5 / 7;
    justify-self: center;
}

.footer span {
    font-weight: bold;
}

.italic {
    font-family: 'Karla-Italic';
}

address {
    font-size: 0.625rem;
    font-weight: 400;
    line-height: 200%;
    font-style: normal;
}